<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/crear_entidad.css">
    <title>Agregar mascota</title>
</head>
<body>

        <div id="container">
            <div id="titulo-container">
                <h2>Agregar Mascota</h2>
            </div>
            <div id="formulario-container">
                <form  th:object="${mascota}" th:action="@{/mascota/agregar}" method="post"> 
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input th:field="*{nombre}" type="text" id="nombre" placeholder="Ingresa el nombre" required>    
                    </div>
                    
                    <div class="form-group">
                        <label for="raza">Raza:</label>
                        <input th:field="*{raza}" type="text" id="raza" placeholder="Ingresa la raza" required>
                    </div>
                   
                    <div class="form-group">
                        <label for="edad">Edad:</label>
                        <input th:field="*{edad}" type="number" id="edad" placeholder="Ingresa la edad" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="peso">Peso:</label>
                        <input th:field="*{peso}" type="number" id="peso" placeholder="Ingresa el peso" required>
                    </div>
                        
                    <div class="form-group">
                        <label for="foto">Foto:</label>
                        <input th:field="*{foto}" type="text" id="foto" placeholder="Ingresa la URL de la foto" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="enfermedad">Enfermedad:</label>
                        <input th:field="*{enfermedad}" type="text" id="enfermedad" placeholder="Ingresa la enfermedad">
                    </div>

                    <div class="form-group">
                        <label for="estado">Enfermedad:</label>
                        <input th:field="*{estado}" type="text" id="estado" placeholder="Ingresa la enfermedad">
                    </div>

                    <div>
                        <select id="clientes" name="dueño" th:field="*{dueño}">
                            <option value="" disabled selected>Seleccione un cliente</option>
                            <option th:each="cliente : ${clientes}" th:value="${cliente.cedula}" th:text="${cliente.nombre} + ' - ' + ${cliente.cedula}"></option>
                        </select>
                    </div>
                            
                    <div id="botones">
                       <a th:href="@{/mascota/all}">Volver</a>
                        <div id="enviarBtn">
                            <button type="submit">Crear</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        
        
</body>
</html>