<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/datos_individuales.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <title>Mascota individual</title>
</head>
<body>

    <header>
        <h1><a href="../templates/index.html">Lux<span>Pet</span></a></h1>
    </header>

    <main>
        <div id="container">
            <div id="titulo">
                <h1>Información de la mascota</h1>
            </div>
            <div id="info">
                <img th:src="${mascota.foto}" alt="Foto"></img>
                <p><strong>Nombre:</strong> <span th:text="${mascota.nombre}"></span></p>
                <p><strong>Raza:</strong> <span th:text="${mascota.raza}"></span></p>
                <p><strong>Edad:</strong> <span th:text="${mascota.edad}"></span></p>
                <p><strong>Enfermedad:</strong> <span th:text="${mascota.enfermedad}"></span></p>
                <p><strong>Estado:</strong> <span th:text="${mascota.estado}"></span></p>
                <p><strong>Dueño:</strong> <span th:text="${cliente.nombre}"></span></p>
                <a th:href="@{/mascota/all}">
                    <button><strong>Volver</strong></button>
                </a>
            </div>
        </div>
    </main>

    
</body>
</html>