<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/inicioSesion.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <header>
       
            <h1><a href="../templates/index.html">Lux<span>Pet</span></a></h1>
       
    </header>

    <div class="center-container">  
    <div class="containerlogin">
        <div class="login_container">
            <div class="login_tittle">
                <span>  Iniciar sesión</span>
            </div>

            <div class="input_wrapper">
                <input type="text" id="cedula" class="input_field" required>
                <label for="cedula" class="label">Cédula</label>
                <i class="fa-regular fa-id-card icon"></i>
            </div>

           

            <div class="remenber-forgot">
                <div class="remenber-me">
                    <input type="checkbox" id="remenber">
                    <label for="remenber">Recordarme</label>
                </div>
               
                <div class="forgot">
                    <a href="">Olvidaste tu cedula?</a>
                </div>
            </div>

            <div class="input_wrapper">
                <input type="submit" class="input-submit" value="Iniciar Sesión">
            </div>
            <div class="signup">
                <span>¿No eres usuario?<a href="../templates/registrarse.html">Regístrate</a></span>
            </div>
        </div>
    </div>
</div>
    <footer>
        <div id="left">
            <div id="logoFooter">
                <img src="../static/images/footer.jpeg" alt="Logo Luxpet">
            </div>
    
            <div id="info">
                <h3>Contacto</h3>
                <ul>
                    <li><b>Telefono:</b> 1234567</li>
                    <li><b>Email:</b> VeterinariaLux@luxpet.com</li>
                    <li><b>Dirección:</b> Javeriana</li>
                </ul>
            </div>
           
          </div>  
            <div id="right">
                <ul>
                    <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
                </ul>
            </div>
    </footer>
    
</body>
</html>