<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/demo/src/main/resources/static/styles/inicioSesion.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <title>Inicio de Sesión - LuxPet</title>
</head>
<body>
    <header>
        <h1><a th:href="@{/}">Lux<span>Pet</span></a></h1>
    </header>

    <div class="center-container">  
        <div class="container">
            <div class="heading">Iniciar Sesión</div>
            <form action="/cliente/login" method="post" class="form">
                <input required="" class="input" type="text" name="cedula" id="cedula" placeholder="Ingresa tu cédula">
                
                <input class="login-button" type="submit" value="Iniciar Sesión">
            </form>
        </div>
        
    </div>

    <footer>
        <div id="left">
            <div id="logoFooter">
                <img src="/demo/src/main/resources/static/images/footer.jpeg" alt="Logo Luxpet">
            </div>
            <div id="info">
                <h3>Contacto</h3>
                <ul>
                    <li><b>Teléfono:</b> 1234567</li>
                    <li><b>Email:</b> VeterinariaLux@luxpet.com</li>
                    <li><b>Dirección:</b> Javeriana</li>
                </ul>
            </div>
        </div>
        <div id="right">
            <ul>
                <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href=""><i class="fa-brands fa-x-twitter"></i></a></li>
                <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
