<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/crearEntidad.css">
    <title>Modificar mascota</title>
</head>


<body>
    <header>
        <h1><a href="../templates/index.html">Lux<span>Pet</span></a></h1>
    </header>
    <div class="container">
        <div class="form_area">
            <p class="title">Modificar mascota</p>
            <form th:object="${cliente}" th:action="@{/cliente/update/{id}(id=${cliente.id})}" method="post"> 
                <div class="form_group">
                    <label class="sub_title" for="nombre">Nombre:</label>
                    <input th:field="*{nombre}" class="form_style" type="text" id="nombre" placeholder="Ingresa el nombre" required>    
                </div>
                
                <div class="form_group">
                    <label class="sub_title" for="cedula">Cédula:</label>
                    <input th:field="*{cedula}" class="form_style" type="text" id="cedula" placeholder="Ingresa la cédula" required>
                </div>
               
                <div class="form_group">
                    <label class="sub_title" for="correo">Correo:</label>
                    <input th:field="*{correo}" class="form_style" type="email" id="correo" placeholder="Ingresa el correo" required>
                </div>
                
                <div class="form_group">
                    <label class="sub_title" for="celular">Celular:</label>
                    <input th:field="*{celular}" class="form_style" type="number" id="celular" placeholder="Ingresa el número celular">
                </div>
                        
                <!-- Contenedor único para ambos botones -->
                <div id="botones" class="form_group">
                    <a th:href="@{/cliente/all}" class="btn link-btn">Volver</a>
                    <button type="submit" class="btn">Modificar</button>
                </div>
            </form>
        </div>
    </div>
    
    
    
    
    
</body>
</html>