<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Veterinario</title>
    <link rel="stylesheet" href="/styles/portalVeterinario.css">
</head>
<body>

    <header>
        <div id="logo">
          <h1><a href="/">Lux<span>Pet</span></a></h1>
          </div>
        
            <ul>
                <li><a th:href="@{//}"><button class="button">Cerrar sesión</button></a></li>
            </ul>
        
    </header>
    
</body>
</html>