<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/portalCliente.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <title>Dueño individual</title>
</head>
<body>
   <!--  <header>
        <h1><a href="/">Lux<span>Pet</span></a></h1>
    </header>

    <main>
        <div id="container" class="form_area">
            <div id="titulo">
                <h1 class="title">Información del dueño</h1>
            </div>
            <div id="info">
                <p class="form_group"><strong>Nombre:</strong> <span th:text="${cliente.nombre}"></span></p>
                <p class="form_group"><strong>Cedula:</strong> <span th:text="${cliente.cedula}"></span></p>
                <p class="form_group"><strong>Correo:</strong> <span th:text="${cliente.correo}"></span></p>
                <p class="form_group"><strong>Celular:</strong> <span th:text="${cliente.celular}"></span></p>
              
                <p class="form_group"><strong>Mascotas:</strong></p>
                <table class="form_style">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Raza</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="mascota : ${cliente.mascotas}">
                            <td th:text="${mascota.nombre}"></td>
                            <td th:text="${mascota.raza}"></td>
                            <td>
                                <a th:href="@{/mascota/portal/{id}(id=${mascota.id})}" class="btn"> <strong>Ver detalles</strong></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            
            </div>
        </div>
    </main>

    -->

  <nav>
        <div class="logo">
            <h4>Lux<span>Pet</span></h4>
        </div>  


        <div id="infoCliente">
            <p class="form_group"><span th:text="${cliente.nombre}"></span></p>
            <p class="form_group"><span th:text="${cliente.cedula}"></span></p>
            <p class="form_group"><span th:text="${cliente.correo}"></span></p>
            <p class="form_group"><span th:text="${cliente.celular}"></span></p>
        </div>
       

   <a href="/login/" class="btn">Cerrar Sesión</a>
        
  </nav>


  <main>
   
    <h2>Tus mascotas</h2>
    <table>
        <thead>
            <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="mascota : ${cliente.mascotas}">
                <td><img th:src="${mascota.foto}" alt="Foto" width="150px"></td>                
                <td th:text="${mascota.nombre}"></td>
                
                <td>
                    <a th:href="@{/mascota/portal/{id}(id=${mascota.id})}"> <button id="detallesMascota">Ver detalles</button></a>
                </td>
            </tr>
        </tbody>
    </table>
       
  </main>
       
    
</body>
</html>